@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

body {
  font-family: "Plus Jakarta Display", sans-serif;
}

#mobile {
  visibility: hidden;
}

.home-card {
  background-color: #1a2137 !important;
  border-radius: 20px !important;
}

a {
  text-decoration: none;
}

a > span {
  color: white;
}

.menu-list:active svg,
.menu-list:hover span {
  fill: #ff5460;
  color: #ff5460;
}

.menu-list:active:before {
  content: url(./Images/Polygon-menu.svg);
  position: absolute;
  left: -20px;
}

.left-sidebar {
  background-color: #1a2137;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  border-radius: 0px 20px 20px 0px;
}

.right-sidebar {
  background-color: #ebeaf0;
  max-width: 110px !important;
}

.right-items {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

/* Toggle on and off */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {


  .nav-item{
    width: 70px;
  }

  .home-card {
    background: rgba(222, 222, 223, 1) !important;
    border-radius: 20px !important;
  }
  .account-card {
    background: rgba(222, 222, 223, 1) !important;
    border-radius: 20px !important;
  }


  .home-text-color {
    color: black !important;
  }

  .customer-img {
    width: 60px;
    border-radius: 50%;
  }

  .income-expenses{
    margin-bottom: 100px;
  }

  .balance-card {
    max-height: 200px !important;
  }

  .categories {
    margin-top: 0px !important;
  }
}